.main-header {
  ion-icon{
    font-size: 28px;
  }
  .header-font{
    font-family: 'Grand Hotel', cursive;
    font-size: 28px;
  }
}

.notif-wrapper{
  ion-list-header{
    font-weight: 500;
    font-size: 15px;
  }
  ion-item{
    --inner-border-width: 0;
    ion-avatar{
      width: 42px;
      height: 42px;
    }
  }
  ion-label{
    p{
      font-size: 13px;
      white-space: normal;
      color: var(--ion-color-dark);
    }
  }
}

