<ion-header>
  <ion-toolbar class="main-header">
    <ion-title class="header-font" >
  Notification
    </ion-title>
    <ion-buttons slot="end">
        <ion-icon name="log-out" (click)="login" [routerLink]="['/login']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="notif-wrapper">
    <div *ngFor="let notifByTime of notifByTime">
      <ion-list-header>
        {{notifByTime.time}}
      </ion-list-header>
      <ion-item  *ngFor="let notif of notifByTime.notification">
        <ion-avatar slot="start">
          <img [src]="notif.imageUrl">
        </ion-avatar>
        <ion-label>
          <p> <strong>{{notif.userDetail}}</strong> {{notif.description}}<br>{{notif.reason}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
