<ion-header>
  <ion-toolbar class="insta-feed-header">
    <ion-title class="insta-font" >
      Post Status
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
  <ion-content>


    <img class="display" height="150px" width="150px" src="./assets/images/logo.png" />
      <ion-card-content class="content-font">
        <h1 align="center">Create Status to Post</h1><br>
        <ion-item>
          <ion-textarea class="input-text" placeholder="Enter more information here..." [(ngModel)]="form.status"></ion-textarea>
        </ion-item>
      
      <br>
    </ion-card-content>

      <br>
    
      <ion-button expand="block" fill="outline" color="dark" (click)="print()"(click)="presentAlert()">Post</ion-button>
      <br>
 
 
</ion-content>

