.main-header {
  ion-icon{
    font-size: 28px;
  }
  .header-font{
    font-family: 'Grand Hotel', cursive;
    font-size: 28px;
  }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

ion-icon {
    color: black;
}

.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ion-content {
    --background: url("/assets/images/hpbg.jpg") 0 0/100% 100% no-repeat;
    }
    .main-header {
      ion-icon{
        font-size: 28px;
      }
      .header-font{
        font-family: 'Grand Hotel', cursive;
        font-size: 28px;
      }
    }
  .ion-activate {
    background-color: transparent;
      margin-left: auto;
      margin-right: auto;
      align-self: center;
  }
  .ion-activated {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.bg-trans {
  background: transparent;
}

.insta-feed-header {
  ion-icon{
    font-size: 28px;
  }
  .insta-font{
    font-family: 'Grand Hotel', cursive;
    font-size: 28px;
  }
}

