<ion-header>
  <ion-toolbar class="insta-feed-header">
    <ion-title class="insta-font" >
      Login
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <ion-card-content>
        <img class="display" height="200px" width="200px" src="./assets/images/logo.png" />
      <ion-list class="bg-trans">
        <ion-item color="none">
        <ion-icon name="ios-contact" slot="start"> </ion-icon>
        <ion-input placeholder="Username" type="text" [(ngModel)]="form.username"> </ion-input>
      </ion-item>
      <ion-item color="none">
        <ion-icon name="lock" slot="start"> </ion-icon><br>
        <ion-input placeholder="Password" type="password" [(ngModel)]="form.password"> </ion-input> 
      </ion-item>
    </ion-list>
      <div class="ion-activate">
      <ion-card>
      <ion-button color="dark" expand="block" fill="outline" (click)="print()" (click)="tabs" [routerLink]="['/tabs']">Login</ion-button> 
      <ion-button color="dark" expand="block" fill="outline" (click)="print()" (click)="register" [routerLink]="['/register']">Register</ion-button> 
      </ion-card>
    </div> 
    </ion-card-content>
  </div>
</ion-content>
