requirements-page{
    .card-background-page {
        ion-card {
          position: relative;
          text-align: center;
        }
        .card-title{
          position: absolute;
          top: 90%;
          font-size: 15.0cm;
          width: 100%;
          font-weight: bold;
          color: black;
        }
        .card-subtitle{
          font-size: 20.0cm;
          position: absolute;
        }
    }
      }
    
      .display {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .content-font{
        font-family: Verdana, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Tahoma, sans-serif;
        color: black;
        font-size: 15px;
      }
      .title-center{
        align-items: center;
        font-size: 20px;
      }
      ion-content {
        --background: url("/assets/images/hpbg.jpg") 0 0/100% 100% no-repeat;
      }
      .insta-feed-header {
        ion-icon{
          font-size: 28px;
        }
        .insta-font{
          font-family: 'Grand Hotel', cursive;
          font-size: 28px;
        }
      }
      