<ion-header>
  <ion-toolbar class="insta-feed-header">
    <ion-title class="insta-font" >
      About Us
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <img class="display" height="120px" width="120px" src="./assets/images/logo.png" />
    <ion-card-content class="content-font">
      Mission <br>
      Hair mo!  Mission is to have a positive impact on our beneficiaries, both through the
      provision of wigs and through research.We want to reflect this positivity in everything
      we say and do so that we can have a positive impact on everyone we meet. We prefer to
      see opportunities rather than problems and offer simple and straightforward solutions.
      Hair Mo! are motivated by a desire to improve the lives of children and adolescents 
      with cancer and to make our service available to all beneficiaries  in need.<br><br>
    Vision<br>
    The vision of this project is to empower more benefactors and make each and every cancer 
    patient intellect to moving forward the quality of life of children with cancer and their
    families through upgrading their passionate, social and restorative well-being.
  </ion-card-content>
</ion-content>
