<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feeds">
      <ion-icon name="grid"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="people"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="newpost">
      <ion-icon name="albums"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="activities">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
