.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #845B3F
  }
  ion-card{
    background-color: #845B3F
    }

.text-dsgn{
  color: black;
  text-align: center;
}

.insta-feed-header {
  ion-icon{
    font-size: 28px;
  }
  .insta-font{
    font-family: 'Grand Hotel', cursive;
    font-size: 28px;
  }
}

.user-image-wrapper{
  border-radius: 50%;
  height: 225px;
  
    img{
      width: 225px;
      height: 100%;
      border-radius: 50%;
      border: 2px solid black;
      max-width: none;
      margin-left: auto;
      margin-right: auto;
    }
    .input-text{
      height: 100px;
      font-family:'Geneva' , cursive;
      font-size: 15px;
    }
  }

  .bg-trans {
    background: transparent;
  }
