<ion-header>
  <ion-toolbar class="insta-feed-header">
    <ion-title class="insta-font" >
  Request Form
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <div class="ion-align-items-center user-image-wrapper">
        <img src="./assets/user2.jpg">
      </div>
      
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom class="bg-trans">

            <ion-item color="none">
              <ion-label color="dark" position="stacked">Name:</ion-label>
              <ion-input  value="Eryl Cresid Goot" ></ion-input>
            </ion-item>
            
            <ion-item color="none">
              <ion-label color="dark" position="stacked">Address:</ion-label>
              <ion-input  value="Sta.Rita Karsada Batangas City" ></ion-input>   
            </ion-item>
            
            <ion-item color="none">
              <ion-label color="dark">Length of Hair</ion-label>
              <ion-select>
                <ion-select-option value="nes">9 inches</ion-select-option>
                <ion-select-option value="n64">10 inches</ion-select-option>
                <ion-select-option value="ps">11 inches</ion-select-option>
                <ion-select-option value="genesis">12 inches</ion-select-option>
                <ion-select-option value="saturn">13 inches</ion-select-option>
                <ion-select-option value="snes">14 inches</ion-select-option>
                <ion-select-option value="snes">15-20 inches</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-radio-group>
              <ion-list-header color="light" color="none">
                <ion-label class="fw700">Color of hair</ion-label>
              </ion-list-header>
          
              <ion-item color="none">
                <ion-label color="primary">Black</ion-label>
                <ion-radio slot="start" value="donor" checked></ion-radio>
              </ion-item>
          
              <ion-item color="none">
                <ion-label color="primary">Brown</ion-label>
                <ion-radio slot="start" value="agent"></ion-radio>
              </ion-item>
              

              <ion-item color="none">
                <ion-label color="primary">Highlights</ion-label>
                <ion-radio slot="start" value="agent"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-item color="none">
              <ion-textarea class="input-text" placeholder="Message Details..."></ion-textarea>
            </ion-item>

            <ion-item color="none">
              <ion-label class="text-1x">All Stated above are true</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button  expand="block" color="dark" fill="outline" (click)="presentAlert()">Submitt Request</ion-button>
    <ion-button  expand="block" color="dark" fill="outline" (click)="presentAlert2()">Cancel Request</ion-button>
    
  </ion-card>
  

</ion-content>

