<ion-header>
  <ion-toolbar class="main-header">
    <ion-title class="header-font" >
      Newsfeed
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="mail-unread" (click)="chat" [routerLink]="['/chat']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-card class="main-card" *ngFor="let nfeed of newsfeedList">
      <ion-card-content class="card-user-wrapper">
        <div class="ion-align-items-center user-image-wrapper">
          <img [src]="nfeed.userImage">
        </div>
        <div class="user-details">
          <p class="user-name">{{nfeed.userName}}</p>
          <p class="user-place">{{nfeed.userPlace}}</p>
        </div>
      </ion-card-content>  
      <ion-card-content>
      <div class="user-post-details">
              <p class="user-post">{{nfeed.userPost}}</p>
       </div>
      </ion-card-content>
      <ion-card-content>
        <ion-button expand="block" class="ion-text-wrap min-max-width" color="#7e3517" (click)="form" [routerLink]="['/form']"> Send Request </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add" (click)="post-status" [routerLink]="['/post-status']" ></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>

