<ion-header>
  <ion-toolbar class="main-header">
    <ion-title class="header-font" >
      Own Request Status
    </ion-title>
    <ion-buttons slot="end">
        <ion-icon name="log-out" (click)="login" [routerLink]="['/login']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-card class="main-card" *ngFor="let reqstatus of requeststatusList">
      <ion-card-content class="card-user-wrapper">
        <div class="ion-align-items-center user-image-wrapper">
          <img [src]="reqstatus.userImage">
        </div>
        <div class="user-details">
          <p class="user-name">{{reqstatus.userName}}</p>
          <p class="user-place">{{reqstatus.userPlace}}</p>
        </div>
      </ion-card-content>  
      <ion-card-content>
      <div class="user-post-details">
              <p class="user-post">{{reqstatus.userPost}}</p>
       </div>
      </ion-card-content>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block"  class="ion-text-wrap min-max-width" color="#7e3517" > Edit Post </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block"  class="ion-text-wrap min-max-width" color="#7e3517" (click)="presentAlert()"> Delete Post </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content><br><br>
    </ion-card>
</ion-content>

