<ion-header>
  <ion-toolbar class="main-header">
    <ion-title class="header-font" >
      User Profile
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="log-out" (click)="login" [routerLink]="['/login']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

<ion-content [fullscreen]="true">
 
  <ion-card>
    <ion-card-content class="bg-profile">
      <div class="ion-align-items-center user-image-wrapper">
        <img src="./assets/user2.jpg">
      </div>
      <div class="text-dsgn">
        <br>
      <h1>Eryl Cresid Goot</h1>
      <h2>Donor</h2>
    </div>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom class="bg-trans">
            <ion-list-header color="light" color="none">
              <ion-label class="fw700">Form</ion-label>
            </ion-list-header>

            <ion-item color="none">
              <ion-label color="dark" position="stacked">Full Name:</ion-label>
              <ion-input inputmode="text" placeholder="Ex..: Jose Dela Cruz" value="Eryl Cresid Goot"></ion-input>
            </ion-item>

            <ion-item color="none">
              <ion-label color="dark" position="stacked">User Name:</ion-label>
              <ion-input inputmode="text" placeholder="Ex..: eryl" value=""></ion-input>
            </ion-item>

            <ion-item color="none">
              <ion-label color="dark" position="stacked">Contact number:</ion-label>
              <ion-input inputmode="text" placeholder="Ex.: 09123456789"></ion-input>
            </ion-item>
    
            <ion-item color="none">
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="email" placeholder="Ex.: josecruz@.com" ></ion-input>
            </ion-item>

    
            <ion-item color="none">
              <ion-label color="dark" position="stacked">Address:</ion-label>
              <ion-input inputmode="text" placeholder="Sta. Rita karsada batangas City"></ion-input>
            </ion-item>

            <ion-item color="none">
              <ion-label color="dark" position="stacked">Update Password:</ion-label>
              <ion-input placeholder="Password" type="password"></ion-input>
            </ion-item>
    
            <ion-item color="none">
              <ion-label color="dark"> Age</ion-label>
              <ion-select>
                <ion-select-option >18-25</ion-select-option>
                <ion-select-option >26-35</ion-select-option>
                <ion-select-option >36-45</ion-select-option>
                <ion-select-option >46-55</ion-select-option>
                <ion-select-option >55-60</ion-select-option>
                <ion-select-option >60-70</ion-select-option>
                <ion-select-option >70-80</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item color="none">
              <ion-label class="text-1x">Checkbox test</ion-label>
              <ion-checkbox> </ion-checkbox>
            </ion-item>
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button  expand="block" color="dark" fill="outline" (click)="presentAlert()">Edit</ion-button>
    
  </ion-card>

</ion-content>