.main-header {
    ion-icon{
      font-size: 28px;
    }
    .header-font{
      font-family: 'Grand Hotel', cursive;
      font-size: 28px;
    }
  }
  
  .profile {
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: #845B3F
    }
    ion-card{
      background-color: #845B3F
      }
  
  .text-dsgn{
    color: black;
    text-align: center;
  }
  
  .user-image-wrapper{
    border-radius: 50%;
    height: 225px;
    
      img{
        width: 210px;
        height: 100%;
        border-radius: 50%;
        border: 2px solid black;
        max-width: none;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .bg-trans {
      background: transparent;
    }
  