.main-header {
  ion-icon{
    font-size: 15px;
  }
  .header-font{
    font-family: 'Grand Hotel', cursive;
    font-size: 28px;
  }
}

.main-card {
  background-color: #845B3F;
  margin: 0;
  border: 1px solid black;
  .card-user-wrapper{
    display: flex;
    padding: 5px 16px;
    .user-image-wrapper{
      border-radius: 50%;
      border: 2px solid lightcoral;
      height: 38px;
      img{
        width: 15px;
        height: 100%;
        border-radius: 50%;
        border: 2px solid white;
        max-width: none;
      }
    }

    .user-details{
      margin-left: 10px;
      width: 100%;
      .user-name{
        font-size: 16px;
        margin: 5px 0;
        font-weight: 500;
        color: white;
      }
      .user-place{
        font-size: 13px;
        color: rgb(255, 198, 93);
      }
    }
  }

  .user-post-details{
    display: flex;
    padding: 0px 5px;
    width: 100%;
  .user-post{
    font-size: 22px;
    color: black;
  }
}
}

.min-max-width{
  max-width: 180px;
  height: 30px;
  margin: 0 auto;
  background: #611b01;
  font: 12px bold;
  font-style: italic;
  font-family:'Segoe UI', Tahoma;
  border-color: inherit;
  border-radius: 25px 25px 25px 25px;
}

