#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .display {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .min-max-width{
    max-width: 230px;
    height: 40px;
    margin: 0 auto;
    background: #611b01;
    font: 15px bold;
    font-style: italic;
    font-family:'Segoe UI', Tahoma;
    border-color: inherit;
    border-radius: 25px 25px 25px 25px;
    
  }
  .label-dsgn{
    font: 27px bolder;
    font-family: Cambria;
    text-align: center;
    color: #000000;
  }
  ion-content {
    --background: url("/assets/images/hpbg.jpg") 0 0/100% 100% no-repeat;
    }
  
    .insta-feed-header {
      ion-icon{
        font-size: 28px;
      }
      .insta-font{
        font-family: 'Grand Hotel', cursive;
        font-size: 28px;
      }
    }
    
  