<ion-header [translucent]="true">
  <ion-toolbar class="insta-feed-header">
    <ion-title class="insta-font" >
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <img class="display" height="210px" width="210px" src="./assets/images/logo.png" />

  <p class="label-dsgn">"No act of Kindness,<br> no matter how small,<br> is ever wasted"</p>
  <br>
  <ion-button expand="block"  class="ion-text-wrap min-max-width" color="#7e3517" (click)="login" [routerLink]="['/login']"> Get Started </ion-button>
  <br>
  <ion-button expand="block"  class="ion-text-wrap min-max-width" color="#7e3517" (click)="requirements" [routerLink]="['/requirements']"> Requirements </ion-button>
  <br>

</ion-content>
