<ion-header>
  <ion-toolbar class="main-header">
    <ion-title class="header-font" >
      Register
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="log-out" (click)="login" [routerLink]="['/login']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <img class="display" height="120px" width="120px" src="./assets/images/logo.png" />

      <ion-card-content>
        <ion-list class="bg-trans">

        <ion-item color="none">
          <ion-icon name ="person" slot="start"> </ion-icon>
          <ion-input placeholder="Full Name" type="text"[(ngModel)]="form.fullname" required></ion-input>
        </ion-item>

        <ion-item color="none">
          <ion-icon name="ios-contact" slot="start"> </ion-icon>
          <ion-input placeholder="User Name" type="text"[(ngModel)]="form.username" required></ion-input>
        </ion-item>
  
        <ion-item color="none">
          <ion-icon name="pin" slot="start"> </ion-icon>
          <ion-input placeholder="Address" type="text" [(ngModel)]="form.address" required></ion-input>
        </ion-item>
     
        <ion-item color="none">
          <ion-icon name="call" slot="start"> </ion-icon>
          <ion-input placeholder="Contact Number" type="text" [(ngModel)]="form.contactnumber"required></ion-input>
        </ion-item>

        <ion-item color="none">
          <ion-icon name="at" slot="start"> </ion-icon>
          <ion-input placeholder="Age" type="text" [(ngModel)]="form.age" required></ion-input>
        </ion-item>

        <ion-item color="none">
          <ion-icon name="keypad" slot="start"> </ion-icon>
          <ion-input placeholder="Type of user" type="text" [(ngModel)]="form.type" required></ion-input>
        </ion-item>

        <ion-item color="none">
          <ion-icon name="lock" slot="start"> </ion-icon>
          <ion-input placeholder="Password" type="Password" required></ion-input>
        </ion-item>
        </ion-list>

        <br>
      <div class="ion-activate">
      <ion-button type="submit" expand="block" fill="outline" color="dark" (click)="print()" (click)="presentAlert()" >Sign Up</ion-button><br>
    </div>
      </ion-card-content>
    </div>

</ion-content>
