.display {
  background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ion-card{
    background-color: transparent;
    }
  
  ion-content {
    --background: url("/assets/images/hpbg.jpg") 0 0/100% 100% no-repeat;
  }
  .main-header {
    ion-icon{
      font-size: 28px;
    }
    .header-font{
      font-family: 'Grand Hotel', cursive;
      font-size: 28px;
    }
  }
  .bg-trans {
    background: transparent;
  }
  .ion-activate {
    background-color: transparent;
      margin-left: auto;
      margin-right: auto;
      align-self: center;
  }
  